.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid blue;
    flex: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
.child {
    width: 50%;
}

@media (max-width: 768px) {
    .container .child {
        width: 100%;
    }
}

.contact-form {
    padding: 2rem;
    background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);

}
.form-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.form-row input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-row .full-width {
    flex: 2;
}
@media (max-width: 360px) {
    .form-row {
        flex-direction: column;
    }
    .form-row .full-width {
        flex: 1;
    }
}
.montessrat{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 42px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
}
.montessrat_small{
    font-family: Montserrat;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;

}
.submitBtn {
    display: block;
    margin: 0 auto;
    width: 191px;
    height: 36px;
    border-radius: 4px;
    background: #5BC8AF;
    color: white;
    text-align: center;
}